**Section_A**

---

Answer_1. **What are data structures, and why are they important?**

   Data structures are ways to store and organize data. They're important for writing efficient and clean code.

Answer_2. **Mutable vs Immutable with examples:**

   * **Mutable:** Can change after creation (e.g., `list`, `dict`).

     ```python
     my_list = [1, 3]; my_list.append(2)
     ```
   * **Immutable:** Cannot be changed (e.g., `tuple`, `str`).

     ```python
     my_str = "hi"; my_str[0] = "H" → Error
     ```

Answer_3. **Lists vs Tuples:**

   * Lists: Mutable, slow, use more memory.
   * Tuples: Immutable, faster, use less memory.


Answer_4. **How dictionaries store data:**

   They store data as key-value pairs using a hash table.


Answer_5. **Why use a set instead of a list:**

   Sets remove duplicates automatically and offer faster lookups.


Answer_6. **What is a string and how is it different from a list:**

   A string is a sequence of characters. Unlike lists, strings are immutable and only hold characters.


Answer_7. **How tuples ensure data integrity:**

   Since tuples can’t be changed, the data stays safe and unchanged.


Answer_8. **What is a hash table and its relation to dictionaries:**

   A hash table is a structure that maps keys to values using hashes. Python dictionaries use hash tables internally.


Answer_9. **Can lists contain different data types:**

   Yes, Python lists can hold any mix of types (e.g., `[1, "text", 3.5]`).


Answer_10. **Why strings are immutable:**

    For memory efficiency, thread safety, and to make them hashable (usable as dictionary keys).


Answer_11. **Advantages of dictionaries over lists:**

    Dictionaries offer fast lookups by keys, while lists need to search each item.


Answer_12. **When to use a tuple instead of a list:**

    When the data should not change, like `(latitude, longitude)` coordinates.


Answer_13. **How sets handle duplicates:**

    Sets automatically remove duplicates.

    ```python
    set([1, 2, 2, 3]) → {1, 2, 3}
    ```


Answer_14. **“in” for lists vs dictionaries:**


    * Lists: Checks if a value exists.
    * Dicts: Checks if a **key** exists.


Answer_15. **Can you modify tuple elements? Why not?**

    No, tuples are immutable. Their values cannot be changed once created.


Answer_16. **What is a nested dictionary (example):**

    A dictionary inside another dictionary.

    ```python
    student = {"name": "Ria", "marks": {"math": 90, "science": 85}}
    ```


Answer_17. **Time complexity of accessing dictionary elements:**

    On average, it's **O(1)** (very fast).


Answer_18. **When are lists preferred over dictionaries:**

    When the order matters or when storing simple collections without key-value structure.


Answer_19. **Why dictionaries are unordered and its effect:**

    They didn’t preserve order before Python 3.7. Now they do, but you should still not rely on order unless necessary.
    

Answer_20. **List vs Dictionary (data retrieval):**

    * List: Access by index (e.g., `list[0]`)
    * Dict: Access by key (e.g., `dict["name"]`) → more meaningful and faster for lookups.

---

**Section_B**
---

In [2]:
# Answer_1:
name = "PWskills"
print(name)

PWskills

In [3]:
# Answer_2:

s = "Hello World"
print(len(s))

11

In [4]:
# Answer_3:

text = "Python Programming"
print(text[:3])

Pyt

In [5]:
# Answer_4:

s = "hello"
print(s.upper())

HELLO

In [6]:
# Answer_5:

text = "I like apple"
print(text.replace("apple", "orange"))

I like orange

In [7]:
# Answer_6:

numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [8]:
#Answer_7:

nums = [1, 2, 3, 4]
nums.append(10)
print(nums)

[1, 2, 3, 4, 10]

In [9]:
# Answer_8:

nums = [1, 2, 3, 4, 5]
nums.remove(3)

[1, 2, 4, 5]

In [11]:
# Answer_9:

letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [12]:
# Answer_10:

lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

In [13]:
# Answer_11:

t = (100, 200, 300)
print(t)

(100, 200, 300)

In [14]:
#Answer_12:

colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [15]:
# Answer_13:

nums = (10, 20, 5, 15)
print(min(nums))

5

In [17]:
# Answer_14:

animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [18]:
# Answer_ 15:

fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [20]:
# Answer_16:

my_set = {'a', 'b', 'c', 'a', 'a'}
print(my_set)

{'a', 'c', 'b'}

In [21]:
# Answer_17:

s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

In [22]:
# Answer_18:

s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

In [24]:
# Answer_19:

a = {1, 2, 3, 6}
b = {3, 4, 5}
print(a.union(b))

{1, 2, 3, 4, 5, 6}

In [26]:
# Answer_20:

a = {1, 2, 3, 6}
b = {2, 3, 4, 5}
print(a.intersection(b))

{2, 3}

In [29]:
# Answer_21:

person = {"name": "John Snow", "age": 30, "city": "Winterfell"}
print(person)

{'name': 'John Snow', 'age': 30, 'city': 'Winterfell'}

In [31]:
# Answer_22:

person = {'name': 'John Snow', 'age': 30}
person['country'] = 'Riverrun'
print(person)

{'name': 'John Snow', 'age': 30, 'country': 'Riverrun'}

In [32]:
# Answer_23:

info = {'name': 'Mike', 'age': 14}
print(info['name'])

Mike

In [36]:
# Answer_24:

person = {'name': 'Bob', 'age': 30, 'city': 'Hawkins'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'Hawkins'}

In [35]:
# Answer_25:

data = {'name': 'Harry', 'city': 'Hogwarts'}
print('city' in data)

True

In [37]:
# Answer_26:

my_list = [1, 2, 3]
my_tuple = (4, 5, 6)
my_dict = {"a": 1, "b": 2}
print(my_list, my_tuple, my_dict)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

In [39]:
# Answer_27:

import random
nums = random.sample(range(1, 101), 5)
nums.sort()
print(nums)

[4, 6, 14, 71, 81]

In [42]:
# Answer_28:

words = ["Hogwarts", "Hawkins", "Las Cumbres", "Doremon", "Oswald"]
print(words[3])

Doremon

In [43]:
# Answer_29:

d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
combined = {**d1, **d2}
print(combined)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [44]:
# Answer_30:

str_list = ["a", "b", "c", "a"]
str_set = set(str_list)
print(str_set)

{'a', 'c', 'b'}